body {
    background: #ededed;
    color: black;
}

.header-image{
     
    min-height: 450px;
    background-size: cover;
    background-attachment: fixed;
}


.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.min-150{
    min-height: 150px;
}

.white{
    color:white;
}

.border-1{
    border: 1px solid black;
}